/* GENERAL STYLES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body{
    margin: 60px 30px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: papayawhip;
}

header{
    width: 33%;
    position: fixed;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 60%;
    margin-left: auto;
    padding-bottom: 60px;
}

h1, p, h3{
    display: block;
    margin: 20px 10px 20px 10px;
    width: 100%;
}

h2{
    margin-left: 10px;
}

h3{
    text-align: center;
}

/* WARNING TEXT */

#warning-text{
    align-self: center;
    text-align: center;
    width: 100%;
}

/* SEARCH AND FILTERS */

input, select{
    width: 95%;
    padding: 15px 25px;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

input[type= "submit"]{
    margin-bottom: 20px;
    background-color: palegreen;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: rgb(133, 223, 133);
}

/* TO TOP BUTTON */

.to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
}

#to-top-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: palegreen;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yNCAxMmMwIDYuNjIzLTUuMzc3IDEyLTEyIDEycy0xMi01LjM3Ny0xMi0xMiA1LjM3Ny0xMiAxMi0xMiAxMiA1LjM3NyAxMiAxMnptLTEgMGMwIDYuMDcxLTQuOTI5IDExLTExIDExcy0xMS00LjkyOS0xMS0xMSA0LjkyOS0xMSAxMS0xMSAxMSA0LjkyOSAxMSAxMXptLTExLjUtNC44MjhsLTMuNzYzIDQuNjA4LS43MzctLjY3OSA1LTYuMTAxIDUgNi4xMTItLjc1My42NjYtMy43NDctNC42MDR2MTEuODI2aC0xdi0xMS44Mjh6Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

#to-top-image:hover{
    cursor: pointer;
    background-color: rgb(133, 223, 133);
}

/* ARTICLE STYLES */

article{
    flex-basis: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    padding-bottom: 20px;
    -webkit-box-shadow: 3px 3px 15px 0px #7D7D7D; 
    box-shadow: 3px 3px 15px 0px #7D7D7D;
    hyphens: auto;
}

figure:hover > img{
    filter: grayscale(0%);
}

figure{
    height: 200px;
    width: 100%;
    /* position: absolute; */
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}

figcaption{
position: relative;
top: -35px;
left: -1.5px;
text-align: right;
padding-right: 20px;
padding-left: 20px;
background-color: palegreen;
width: fit-content;
}

.article-inner-text{
    padding: 30px 20px 0 20px;
    margin: 0;
}

a{
    background-color: palegreen;
    padding: 15px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(133, 223, 133);
}

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    header{
        width: 33%;
        margin-right: 20px;
    }
    article{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 576px) {
    body{
        margin: 60px 10px;
    }
    header{
        width: 95%;
        position: unset;
    }
    main{
        display: unset;
        flex-basis: unset;
        margin-left: unset;
        margin-top: 60px;
    }
    article{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    figure{
        height: 300px;
    }
    img{
        height: 300px;
    }
    input, select{
        width: 100%;
    }
}